<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="JoinMapper">

	<!-- 회원 등록 -->
	<insert id="insertMember" parameterType="wi.dto.Member">
		INSERT INTO member
		(mem_no, mem_case_no, mem_id, mem_pw, mem_name, mem_birth, mem_phone)
		VALUES
		(null, #{mem_case_no }, #{mem_id }, #{mem_pw }, #{mem_name }, #{mem_birth },
		#{mem_phone }
	</insert>

	<!-- 아이디 중복체크 -->
	<select id="checkId" parameterType="String" resultType="String">
		SELECT mem_id FROM member
		WHERE mem_id = #{mem_id}
	</select>

</mapper> 

